schemas/bank.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
			xmlns:bnk="http://www.stormware.cz/schema/version_2/bank.xsd"
			xmlns="http://www.stormware.cz/schema/version_2/bank.xsd"
			targetNamespace="http://www.stormware.cz/schema/version_2/bank.xsd"
			elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" 					schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>

<!-- **************************************************************************
		root element must be <bank>
	 ************************************************************************** -->

<!-- REQUEST -->

<xsd:element name="bank" type="bnk:bankType"/>

<!-- **************************************************************************
		bank
	 ************************************************************************** -->

<xsd:complexType name="bankType">
	<xsd:sequence>
		<xsd:element name="bankHeader" type="bnk:bankHeaderType" minOccurs="0"/>
		<xsd:element name="bankDetail" type="bnk:bankDetailType" minOccurs="0"/>
		<xsd:element name="bankSummary" type="bnk:bankSummaryType" minOccurs="0"/>
		<xsd:element name="linkedDocuments" type="typ:linksType" minOccurs="0">
		  <xsd:annotation>
			<xsd:documentation>
			  Vazby na doklad. Informace o vazbách dokladu na jiné doklady (pouze pro export). 
			</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>
    <xsd:element name="attachments" type="typ:attachmentsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Záznamy ze záložky "Dokumenty".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="bnk:bnkVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="bnkVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="bankHeaderType">
	<xsd:all>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID záznamu (pouze pro export).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="extId" type="typ:extIdType" minOccurs="0" >
		 <xsd:annotation>
			<xsd:documentation>
			  Odkaz na záznam v externí databázi. V databázi se nachází speciální tabulka obsahující
			  vazbu mezi agendou a externí databází.
			</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>  
		<xsd:element name="bankType" type="bnk:bankTypeType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Typ bankovního dokladu. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="account" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
          Bankovní účet. Pokud není účet uveden, POHODA použije účet uvedený v uživatelském nastavení
          uživatele (pod kterým je spuštěn XML import).
        </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="number" type="typ:string15" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenční číslo dokladu (pouze pro export).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="statementNumber" type="bnk:statementNumberType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Číslo bankovního výpisu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="symVar" type="typ:symVarType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Variabilní symbol.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="dateStatement" type="typ:dateOrNull" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum bankovního výpisu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="datePayment" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum platby.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="accounting" type="typ:accountingType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
          Předkontace. Pokud není uvedena, POHODA použije předkontaci uvedenou v uživatelském nastavení
          uživatele (pod kterým je spuštěn XML import).
        </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění DPH, přednastavená hodnota je "inland"</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
        <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění KV DPH (pouze SK verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="transactionTaxType" type="typ:transactionTaxTypeType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Transakční daň  (pouze SK verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="text" type="typ:string96" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Adresa zákazníka</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="myIdentity" type="typ:myAddress" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Osobní adresa</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="paymentAccount" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Číslo bankovního Protiúčtu.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
        <xsd:group ref="typ:myGroupOfAccount"/>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="symConst" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Konstantní symbol.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <xsd:element name="symSpec" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Specifický symbol. Používá se jen u závazků.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
		<xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Párovací symbol (pouze JU nebo DE).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Středisko</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Činnost</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="MOSS" type="typ:MOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Speciální režim registrace DPH v EU, režim One Stop Shop (OSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="evidentiaryResourcesMOSS" type="typ:resourcesMOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Důkazní prostředky (OSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="accountingPeriodMOSS" type="typ:string7" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Účetní období (OSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="intNote" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Interní poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="histRate" type="typ:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Doklad má položky obsahující historickou sazbu DPH. Jen pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="lock1" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Zámek I (pouze verze E1). Doklady uzamčené prvním stupněm mohou editovat pouze uživatelé, kteří mají v agendě Přístupová práva nastaveno právo Editace záznamů uzamčených I. stupněm. Pouze pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="lock2" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Zámek (v E1 verzi označení Zámek II). Uzamčení dokladů pro uživatele s vyšším oprávněním. Takto uzamčené doklady nelze editovat. Pouze pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Označení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "označený záznam".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="labels" type="typ:labelsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Štítky záznamu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<xsd:complexType name="bankDetailType" mixed="true">
	<xsd:sequence>
		<xsd:element name="bankItem" type="bnk:bankItemType" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="bankLiquidationItem" type="bnk:bankliquidationItemType" minOccurs="0" maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:documentation>Definice položek pro likvidaci dokladu (Pohledávky/Závazku). Pouze pro import.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="bankSummaryType">
	<xsd:all>
   	<xsd:element name="roundingDocument" type="bnk:typeRoundingDocument" minOccurs="0">
	    	<xsd:annotation>
	    		<xsd:documentation>Zaokrouhlení celkové částky dokladu.</xsd:documentation>
	    	</xsd:annotation>
	    </xsd:element>
	    <xsd:element name="roundingVAT" type="bnk:typeRoundingVAT" minOccurs="0">
	    	<xsd:annotation>
	    		<xsd:documentation>Zaokrouhlení DPH.</xsd:documentation>
	    	</xsd:annotation>
	    </xsd:element>
    <xsd:element name="typeCalculateVATInclusivePrice" type="typ:typeCalculateVATInclusivePriceType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Způsob výpočtu hodnoty DPH z částky včetně daně dle § 37 (pouze CZ verze pro JU nebo DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kč.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	    <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí měna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>	
</xsd:complexType>

<xsd:complexType name="bankItemType">
	<xsd:all>
	<xsd:element name="id" type="typ:idType" minOccurs="0">
		<xsd:annotation>
			<xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="extId" type="typ:string64" minOccurs="0"/>
		<xsd:element name="liquidatedDocument" type="typ:linkedDocumentType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					Vazba na likvidovaný doklad. Informace o vazbě položky exportovaného dokladu na likvidovaný doklad (pouze pro export).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	<xsd:element name="text" type="typ:string90" minOccurs="0">
		<xsd:annotation>
			<xsd:documentation>Text položky.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
    <xsd:element name="quantity" type="xsd:float" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Množství. (pouze pro JU nebo DE)</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="unit" type="typ:unitType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Měrná jednotka (pouze pro JU nebo DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
      <xsd:annotation>
        <xsd:documentation>Koeficient (pouze pro JU nebo DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Ceny jsou uvedeny: bez DPH, včetně DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA (pouze pro JU nebo DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
      <xsd:annotation>
        <xsd:documentation>Sazba DPH (pouze pro JU nebo DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení (pouze pro JU nebo DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
      <xsd:annotation>
        <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ (pouze pro JU nebo DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="homeCurrency" type="bnk:typeCurrencyHomeItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Částka v Kč.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="foreignCurrency" type="bnk:typeCurrencyForeignItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Částka v cizí měně.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="homeCurrencyJU" type="typ:typeCurrencyHomeItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Částka v Kč (pouze pro JU a DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="foreignCurrencyJU" type="typ:typeCurrencyForeignItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Částka v cizí měně (pouze pro JU a DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="typeServiceMOSS" type="typ:MOSStype" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Druh služby (OSS).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="note" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Párovací symbol.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="accounting" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Předkontace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Členění KV DPH (pouze SK verze).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="PDP" type="xsd:boolean" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Příznak Přenesení daňové povinnosti (pouze pro JU nebo DE).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="CodePDP" type="typ:string8" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kód zboží (pouze pro JU v SK verzi).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Středisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Činnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<xsd:complexType name="bankliquidationItemType">
	<xsd:sequence>
		<xsd:element name="settingsLiquidation" type="bnk:settingsLiquidationType" minOccurs="1" maxOccurs="1">
			<xsd:annotation>
				<xsd:documentation>Nastavení likvidace dokladu (pohledávky/závazku).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="liquidationItem" type="bnk:liquidationItemType" minOccurs="1" maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:documentation>Definice položek, které provádějí likvidaci dokladu typu(Pohledávka/Závazek).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="settingsLiquidationType">
	<xsd:sequence>
		<xsd:element name="sourceAgenda" type="typ:liquidatedDocumentAgendaType">
			<xsd:annotation>
				<xsd:documentation>Agenda likvidovaného dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="sourceDocument" type="typ:sourceDocumentType">
			<xsd:annotation>
				<xsd:documentation>Likvidovaný doklad.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="liquidationPrice" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Částka k likvidaci.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="liquidationRate" type="xsd:float" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kurz likvidace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="liquidation" type ="bnk:liquidationType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Likvidace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="liquidationItemType">
	<xsd:all>
		<xsd:element name="extId" type="typ:string64" minOccurs="0"/>
		<xsd:element name="text" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text položky. Pokud nebude uveden, bude nastaven text z Globálního nastavení programu POHODA.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="quantity" type="xsd:float" fixed="1">
			<xsd:annotation>
				<xsd:documentation>Množství na položce.Pro likvidaci dokladu vždy nastaveno "1".</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="payVAT" type="typ:boolean" fixed="false" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Jednotková cena s/bez DPH (pouze pro JU nebo DE).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Sazba DPH (pouze pro JU nebo DE).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení (pouze pro JU nebo DE).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	   <xsd:element name="homeCurrency" type="bnk:typeCurrencyHomeItem" minOccurs="0">
		  <xsd:annotation>
			<xsd:documentation>Částka v Kč.</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>
		<xsd:element name="foreignCurrency" type="bnk:typeCurrencyForeignItem" minOccurs="0">
		  <xsd:annotation>
			<xsd:documentation>Částka v cizí měně.</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>
		<xsd:element name="homeCurrencyJU" type="typ:typeCurrencyHomeItem" minOccurs="0">
		  <xsd:annotation>
			<xsd:documentation>Částka v Kč (pouze pro JU a DE).</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>
		<xsd:element name="foreignCurrencyJU" type="typ:typeCurrencyForeignItem" minOccurs="0">
		  <xsd:annotation>
			<xsd:documentation>Částka v cizí měně (pouze pro JU a DE).</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Pár. symbol</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="accounting" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Předkontace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění KV DPH (pouze SK verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Středisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Činnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<xsd:complexType name="liquidationType">
	<xsd:all>
		<xsd:element name="extId" type="typ:string64" minOccurs="0"/>
	</xsd:all>
</xsd:complexType>
	
<xsd:simpleType name="bankTypeType">
	<xsd:annotation>
		<xsd:documentation>Typ bankovního dokladu.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="receipt">
			<xsd:annotation>
				<xsd:documentation>Příjmový doklad.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="expense">
			<xsd:annotation>
				<xsd:documentation>Výdajový doklad.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

  
  <xsd:complexType name="statementNumberType">
    <xsd:annotation>
      <xsd:documentation>Číslo výpisu je složeno z čísla výpisu + čísla bankovního pohybu. Celková délka čísla nesmí být větší než 10 znaků.</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="statementNumber" type="typ:string10" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Číslo bankovního výpisu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberMovement" type="typ:string6" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Číslo bankovního pohybu v rámci výpisu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="typeCurrencyHomeItem">
    <xsd:all>
      <xsd:element name="unitPrice" type="typ:currencyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Jednotková cena položky dokladu. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
 </xsd:complexType>


 <xsd:complexType name="typeCurrencyForeignItem">
    <xsd:all>
      <xsd:element name="unitPrice" type="typ:currencyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Jednotková cena položky dokladu. Pokud není uvedena, bere se jako NULOVÁ.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
 </xsd:complexType>

<xsd:simpleType name="typeRoundingDocument">
  <xsd:annotation>
    <xsd:documentation>Zaokrouhlení bankovního dokladu.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="none">
      <xsd:annotation>
        <xsd:documentation>Doklad nezaokrouhlovat</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
  </xsd:restriction>
</xsd:simpleType> 
  
<xsd:simpleType name="typeRoundingVAT">
  <xsd:annotation>
    <xsd:documentation>Aktuální typy zaokrouhlení vypočítané hodnoty DPH v bance.</xsd:documentation>
  </xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="none">
			<xsd:annotation>
				<xsd:documentation>DPH nezaokrouhlovat.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>
  
<!-- RESPONSE -->

<xsd:element name="bankResponse" type="bnk:bankResponseType"/>

<xsd:complexType name="bankResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
