schemas/contract.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
      xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
			xmlns:con="http://www.stormware.cz/schema/version_2/contract.xsd"
			xmlns="http://www.stormware.cz/schema/version_2/contract.xsd"
			targetNamespace="http://www.stormware.cz/schema/version_2/contract.xsd"
			elementFormDefault="qualified">

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd" 					schemaLocation="print.xsd"/>

  <!-- **************************************************************************
		Zakázky
	 ************************************************************************** -->
  
<!-- REQUEST -->
<xsd:element name="contract" type="con:contractType"/>

<xsd:complexType name="contractType">
	<xsd:sequence minOccurs="1" maxOccurs="1">
		<xsd:element name="contractDesc" type="con:contractDescType"/>
		<xsd:element name="contractPlan" type="con:contractPlanType" minOccurs="0"/>
    <xsd:element name="attachments" type="typ:attachmentsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Záznamy ze záložky "Dokumenty".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="print" type="prn:agendaPrintType" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Po vytvoření záznamu se provede jeho tisk.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="con:conVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="conVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="contractDescType">
	<xsd:all>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Používá se pouze při exportu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="number" type="typ:numberTypeContract" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenční číslo zakázky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="datePlanStart" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum plánovaného zahájení.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="datePlanDelivery" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum plánovaného předání.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateStart" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum zahájení.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateDelivery" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum předání.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateWarranty" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Záruka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>		
		<xsd:element name="text" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text popisu zakázky. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Zákazníkova adresa.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="responsiblePerson" type="typ:refTypeLong" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Odpovědná osoba.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="status" type="con:statusType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation> Stav zakázky.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="ost1" type="typ:string32" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Ostatní.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ost2" type="typ:string32" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Pozn.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Označení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "označený záznam".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="labels" type="typ:labelsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Štítky záznamu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelné parametry.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<xsd:complexType name="contractPlanType">
	<xsd:sequence>
		<xsd:element name="contractPlanItem" type="con:contractPlanItemType" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="contractPlanItemType">
	<xsd:all>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Používá se pouze při exportu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="date" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum plánovaného zahájení.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="typeOfOperation" type="con:typeOfOperationType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Druh operace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="title" type="typ:string100" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Název zakázky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="source" type="typ:string100" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zdroj zakázky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="quantity" type="xsd:float" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Množství.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="unit" type="typ:unitType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Měrná jednotka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="price" type="typ:currencyType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Částka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelné parametry.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<xsd:simpleType name="typeOfOperationType">
	<xsd:annotation>
		<xsd:documentation>Druh operace položky výrobního plánu.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="cost">
			<xsd:annotation>
				<xsd:documentation>Náklad.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="revenue">
			<xsd:annotation>
				<xsd:documentation>Výnos.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="other">
			<xsd:annotation>
				<xsd:documentation>Ostatní.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!-- Stav zakázky  -->
 <xsd:complexType name="statusType">
    <xsd:complexContent>
      <xsd:extension base="typ:refTypeLong">
        <xsd:attribute name="unused" type="typ:boolean">
          <xsd:annotation>
            <xsd:documentation>Uzamknout a dále nepoužívat (pouze export).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="executed" type="typ:boolean">
          <xsd:annotation>
            <xsd:documentation>Vyřízeno (pouze export).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
 </xsd:complexType>

 <!-- RESPONSE -->

<xsd:element name="contractResponse" type="con:contractResponseType"/>

<xsd:complexType name="contractResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
