schemas/invoice.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
			xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
      xmlns:prn="http://www.stormware.cz/schema/version_2/print.xsd"
			xmlns:inv="http://www.stormware.cz/schema/version_2/invoice.xsd"
			xmlns="http://www.stormware.cz/schema/version_2/invoice.xsd"
			targetNamespace="http://www.stormware.cz/schema/version_2/invoice.xsd"
			elementFormDefault="qualified">

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" 					schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" 	schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/print.xsd" 					schemaLocation="print.xsd"/>

  <!-- **************************************************************************
		Faktury (Vydané faktury, Vydané zálohové faktury, Ostatní pohledávky, Přijaté faktury, Přijaté zálohové faktury, Ostatní závazky)
	 ************************************************************************** -->
  
<!-- REQUEST -->
<xsd:element name="invoice" type="inv:invoiceType"/>

<xsd:complexType name="invoiceType">
	<xsd:sequence>
		<xsd:element name="links" type="typ:linksType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
          Pomocí tohoto bloku lze vytvořit nový doklad z jiného dokladu. Pokud nejsou specifikovány položky, vloží se celý doklad.
          Vložený doklad lze upravit pomocí jednotlivých elementů u dokladu.
          Povolené jsou vazby z agendy:
          - Přijaté objednávky (do agendy Vydané zálohové faktury)
          - Přijaté objednávky (do agendy Vydané faktury)
          - Vydané objednávky (do agendy Přijaté zálohové faktury)
          - Vydané objednávky (do agendy Přijaté faktury)
          - Výdejky (do agendy Vydané faktury, typ Faktura)
          - Příjemky (do agendy Přijaté faktury, typ Faktura)
          Povolené ruční vazby:
          - Výdejky (do agendy Vydané faktury)
          - Přijatá objednávka (do agendy Vydané zálohové faktury)
        </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="cancelDocument" type="typ:cancelDocumentType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Pomocí tohoto bloku bude vytvořen storno doklad. V programu POHODA bude vyhledán doklad, který má být stornován, pokud bude nalezen, bude k němu vytvořen stornující doklad. 
          Vložený doklad lze upravit pomocí jednotlivých elementů v invoiceHeader (ostatní elementy budou ignorovány).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="correctiveDocument" type="typ:correctiveDocumentType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Pomocí tohoto bloku bude vytvořen opravný daňový doklad (pouze CZ verze) nebo Dobropis (pouze SK verze). V programu POHODA bude vyhledán doklad, pokud bude nalezen, bude k němu vytvořen opravný daňový doklad, Dobropis.
          Vložený doklad lze upravit pomocí jednotlivých elementů v invoiceHeader (ostatní elementy budou ignorovány).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="invoiceHeader" type="inv:invoiceHeaderType" minOccurs="0"/>
    <xsd:element name="invoiceRetentions" type="inv:invoiceRetentionsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Údaje o pozastávkách k vydané nebo přijaté faktuře. Pouze pro export.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="invoiceDetail" type="inv:invoiceDetailType" minOccurs="0"/>
		<xsd:element name="invoiceSummary" type="inv:invoiceSummaryType" minOccurs="0"/>
    <xsd:element name="linkedDocuments" type="typ:linksType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Vazby na doklad. Informace o vazbách dokladu na jiné doklady (pouze pro export). 
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="liquidations" type="typ:liquidationsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Vazba na likvidace dokladu (pouze pro export).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="attachments" type="typ:attachmentsType" minOccurs="0">
	  <xsd:annotation>
	   	<xsd:documentation>Záznamy ze záložky "Dokumenty".</xsd:documentation>
	  </xsd:annotation>
	</xsd:element>
    <xsd:element name="EET" type="typ:EETType" minOccurs="0"/>
    <xsd:element name="print" type="prn:agendaPrintType" minOccurs="0">
      <xsd:annotation>
				<xsd:documentation>Po vytvoření záznamu se provede jeho tisk.</xsd:documentation>
			</xsd:annotation>
    </xsd:element>
	</xsd:sequence>
	<xsd:attribute name="version" type="inv:invVersionType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="invVersionType">
	<xsd:annotation>
		<xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="2.0"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="invoiceHeaderType">
	<xsd:all>
		<xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID záznamu (jen pro export).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="extId" type="typ:extIdType" minOccurs="0" >
      <xsd:annotation>
        <xsd:documentation>
          Odkaz na záznam v externí databázi. V databázi se nachází speciální tabulka obsahující
          vazbu mezi agendou a externí databází.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>    
   	<xsd:element name="invoiceType" type="inv:invoiceTypeType">
			<xsd:annotation>
				<xsd:documentation>Typ faktury.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="storno" type="typ:stornoType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					Příznak „Storno/Stornujícího“  dokladu (pouze pro export).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="sphereType" type="inv:sphereTypeType" minOccurs="0" default="business">
			<xsd:annotation>
				<xsd:documentation>Typ ostatní pohledávky, závazku. Používá se jen v Daňové evidenci.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="number" type="typ:numberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenční číslo dokladu. Pokud není hodnota uvedena, použije se číselná řada přednastavená 
					v uživatelském nastavení nebo se nastaví první číselná řada pro daný doklad.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="symVar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Variabilní symbol. Pokud není hodnota zadána, použije se z čísla dokladu vypuštěním nečíselných znaků.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="originalDocument" type="typ:documentNumberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Číslo dokladu, používá se jako variabilní symbol při vystavení příkazu k úhradě a při likvidaci.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="originalDocumentNumber" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Původní číslo dokladu, pro doklady typu Dobropis, Vrubopis (pouze SK verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Párový symbol. Používá se jen v účetnictví (dříve PU).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="date" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum vystavení faktury. Pokud není hodnota zadaná, použije se aktuální datum nebo datum posledního záznamu, dle volby v uživatelském nastavení.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateTax" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum zdanitelného plnění / Datum odpočtu. Pokud není hodnota zadaná, použije se hodnota z elementu "date".</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateAccounting" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum účetního případu. Pokud není hodnota zadaná, použije se hodnota z elementu "date".</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateKHDPH" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum KH DPH. Pokud není datum KH DPH uveden, nebude na dokladu nastaven. Pouze pro doklady typu Přijatá faktura, Ostatní závazek, Vydaná Faktura - opravný daňový doklad (pouze CZ verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="dateDue" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum splatnosti. Pokud hodnota není zadaná, vyplní v závislosti na datu vystavení 
					faktury dle nastavení v poli "Splatnost pohledávek" agendy "Globální nastavení".</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

    <xsd:element name="dateApplicationVAT" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum uplatnění DPH.Datum pro zařazení dobropisu, resp. opravného daňového dokladu do přiznání k dani z přidané hodnoty a uplatnění odpočtu DPH. </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="dateDelivery" type="xsd:date" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum dodání tovaru (pouze SK verze, Ostatní závazky, Přijaté faktury).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="accounting" type="typ:accountingType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Předkontace. Pokud není uveden typ předkontace, je nastavena předkontace dle uživatelského nastavení programu Pohoda.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění DPH, přednastavená hodnota je "inland". Nepoužívá se u typů "Proforma" a "Zálohová" faktura.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění KV DPH (pouze SK verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="numberKHDPH" type="typ:string32" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Evidenční číslo KH DPH. Pokud je na dokladu uvedeno, použije se pro kontrolní hlášení. Jen Ostatní pohledávky, Vydané Faktury (podmíněno v Globálním nastavení). Pouze CZ verze.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="numberKVDPH" type="typ:string32" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Pořadové číslo KV DPH. Jen Ostatní pohledávky, Vydané Faktury (podmíněno v Globálním nastavení). Pouze SK verze.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="text" type="typ:string240" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text dokladu. Tento element je vyžadován při vytvoření dokladu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="partnerIdentity" type="typ:address" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Zákazníkova adresa.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="myIdentity" type="typ:myAddress" minOccurs="0">
		  <xsd:annotation>
				<xsd:documentation>Osobní adresa.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="order" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Objednávka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="numberOrder" type="typ:documentNumberType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Číslo objednávky na jejímž základě byla faktura vystavena.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="dateOrder" type="typ:dateOrNull" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum objednávky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="priceLevel" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cenová hladina odběratele. Používá se jen u typů vydaná faktura, 
					vydaný vrubopis, vydaná zálohová faktura, vydaná proforma faktura.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="paymentType" type="typ:paymentType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Forma úhrady. Implicitně je nastaveno příkazem.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="account" type="typ:accountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Bankovní účet nebo hotovostní pokladna, na kterou chcete nechat proplatit tuto pohledávku. 
				(Používá se jen u pohledávek.) Pokud není účet uveden, POHODA použije účet uvedený v uživatelském nastavení 
				uživatele (pod kterým je spuštěn XML import).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="symConst" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Konstantní symbol.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="symSpec" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Specifický symbol. Používá se jen u závazků.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="paymentAccount" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Číslo bankovního účtu, na který dlužnou částku proplatíme. Číslo bude uvedeno na příkazu k úhradě.
					(Používá se jen závazků, dobropisu - vydané faktury).</xsd:documentation>
			</xsd:annotation>
			<xsd:complexType>				
					<xsd:group ref="typ:myGroupOfAccount"/>				
			</xsd:complexType>	
		</xsd:element>
		<xsd:element name="messageForRecipient" type="typ:string35" minOccurs="0">
		  <xsd:annotation>
			<xsd:documentation>Zpráva pro příjemce (Přijaté faktury, Přijaté zálohové faktury a Ostatní závazky).</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>
		<xsd:element name="dateOfPaymentOrder" type="xsd:date" minOccurs="0">
		  <xsd:annotation>
			  <xsd:documentation>Datum vystavení příkazu k úhradě (pouze pro export Přijatých faktur, Přijatých zálohových faktur a Ostatních závazků).</xsd:documentation>
		  </xsd:annotation>
		</xsd:element>
		<xsd:element name="paymentTerminal" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Příznak  dokladu "Placeno přes terminál".Pouze pro doklad, který má nastaven typ úhrady "Platební kartou".</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Středisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Činnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="regVATinEU" type="typ:refTypeRegVATinEU" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Registrace DPH v EU.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="MOSS" type="typ:MOSStype" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Speciální režim registrace DPH v EU, režim One Stop Shop (OSS).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="evidentiaryResourcesMOSS" type="typ:resourcesMOSStype" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Důkazní prostředky (OSS).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="accountingPeriodMOSS" type="typ:string7" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Účetní období (OSS).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="dateTaxOriginalDocumentMOSS" type="xsd:date" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Datum uskutečnění zdanitelného plnění OSS (pouze pro opravné daňové doklady, dobropisy nebo vrubopisy).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="correctionMOSS" type="typ:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Vykázat doklad jako opravu OSS (pouze pro opravné daňové doklady, dobropisy nebo vrubopisy).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="carrier" type="typ:carrierType" minOccurs="0" nillable="true">
			<xsd:annotation>
				<xsd:documentation>Dopravce (pouze vydané faktury a vydané zálohové faktury). </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="intNote" type="xsd:string" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Interní poznámka, libovolný text, který nevstupuje do tiskových sestav.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="liquidation" type="typ:liquidationType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Stav likvidace faktury. Pouze pro export, při importu je ignorováno.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="applied" type="typ:currencyType" minOccurs="0">      
        <xsd:annotation>
          <xsd:documentation>Hodnota pole Uplatněno. Pouze vydané a přijaté zálohové faktury. Jen pro export.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="histRate" type="typ:boolean" minOccurs="0" default="false">
      <xsd:annotation>
        <xsd:documentation>Doklad má položky obsahující historickou sazbu DPH. Jen pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="lock1" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Zámek I (pouze verze E1). Doklady uzamčené prvním stupněm mohou editovat pouze uživatelé, kteří mají v agendě Přístupová práva nastaveno právo Editace záznamů uzamčených I. stupněm. Pouze pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="lock2" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Zámek (v E1 verzi označení Zámek II). Uzamčení dokladů pro uživatele s vyšším oprávněním. Takto uzamčené doklady nelze editovat. Pouze pro export.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="markRecord" type="typ:boolean" minOccurs="0" default="true">
      <xsd:annotation>
        <xsd:documentation>Označení záznamu v programu POHODA, sloupec "X". Výchozí hodnota je "označený záznam".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="labels" type="typ:labelsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Štítky záznamu.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="intrastat" type="inv:intrastatType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Výkaz pro intrastat.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="validate" type="typ:typeValidate" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Podmíněná kontrola dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="postponedIssue" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Odložený výdej. Hodnota 'true' nastaví vkládání skladových zásob ve formě textových položek (s vazbou na agendu Zásoby). 
          Takto vložená položka nevytváří ve faktuře skladový pohyb. Ve stavovém řádku vydané faktury je označena jako Textová položka (s vazbou na agendu Zásoby). Používá se jen v agendě Vydané faktury.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="postponedReceive" type="typ:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>
					Odložený příjem. Hodnota 'true' nastaví vkládání skladových zásob ve formě textových položek (s vazbou na agendu Zásoby).
					Takto vložená položka nevytváří ve faktuře skladový pohyb. Ve stavovém řádku přijaté faktury je označena jako Textová položka (s vazbou na agendu Zásoby). Používá se jen v agendě přijaté faktury.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
  </xsd:all>
</xsd:complexType>

  <xsd:complexType name="invoiceRetentionsType">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="invoiceRetention" type="inv:invoiceRetentionType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Údaje o pozastávce k vydané nebo přijaté faktuře. Pouze pro export.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
     </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="invoiceDetailType" mixed="true">
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="invoiceItem" type="inv:invoiceItemType" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Definice "Textové" nebo "Skladové" položky dokladu.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="invoiceAdvancePaymentItem" type="inv:invoiceAdvancePaymentItemType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Definice položky dokladu typu "Odpočet zálohy"/"Ruční odpočet zálohy". Používá se pouze v agendě Vydaná, Přijatá faktura.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="roundingItem" type="typ:roundingItemType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Položka dokladu - výpočet DPH ze zaokrouhlení (pouze pro export).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="invoiceSummaryType">
	<xsd:all>
   	<xsd:element name="roundingDocument" type="typ:typeRoundingDocument" minOccurs="0">
    	<xsd:annotation>
    		<xsd:documentation>Zaokrouhlení celkové částky dokladu + typ zaokrouhlení. 
				Pokud není uvedeno zaokrouhlení, nastaví se hodnoty z Globálního nastavení.</xsd:documentation>
    	</xsd:annotation>
    </xsd:element>
    <xsd:element name="roundingVAT" type="typ:typeRoundingVAT" minOccurs="0">
    	<xsd:annotation>
    		<xsd:documentation>Zaokrouhlení DPH. Pokud není uvedeno zaokrouhlení, nastaví se hodnoty z Globálního nastavení.</xsd:documentation>
    	</xsd:annotation>
    </xsd:element>		
    <xsd:element name="calculateVAT" type="xsd:boolean" minOccurs="0" default="false">
			<xsd:annotation>
				<xsd:documentation>Vypočíst DPH ze zaokrouhlení.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="typeCalculateVATInclusivePrice" type="typ:typeCalculateVATInclusivePriceType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Způsob výpočtu hodnoty DPH z částky včetně daně dle § 37. Pokud není element uveden, použije se způsob výpočtu dle data zdanitelného plnění nebo data vystavení dokladu. (pouze CZ verze)</xsd:documentation>
      </xsd:annotation>
    </xsd:element>    
		<xsd:element name="homeCurrency" type="typ:typeCurrencyHome" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kč. V případě použití cizí měny, je tuzemská částka při importu ignorována.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	   <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeign" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí měna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>

<!--Definice textové nebo skladové položky dokladu-->
<xsd:complexType name="invoiceItemType">
	<xsd:all>
	  <xsd:element name="link" type="typ:linkItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Pomocí tohoto bloku lze vytvořit položku z jiného dokladu. Vložený doklad lze upravit pomocí zadaných parametrů u dokladu.
				                    Povolené jsou vazby: - přijatá objednávka do vydaných faktur.
        </xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="linkedDocument" type="typ:linkedDocumentType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>
          Vazba na doklad. Informace o vazbě položky exportovaného dokladu na položku jiného dokladu. Např. Faktura - Objednávka. Faktury - Vydaná zálohová faktura. Faktura - Výdejka (pouze pro export).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="extId" type="typ:string64" minOccurs="0"/>
		<xsd:element name="parentCompStock" type="typ:parentCompStockType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					Vazba položky na položkovou zásobu (komplet nebo souprava). Vazba se vytváří přes extId.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="text" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Text položky.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	  	<xsd:element name="quantity" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Množství.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="unit" type="typ:unitType" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Měrná jednotka.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="coefficient" type="xsd:float" minOccurs="0" default="1.0">
	  		<xsd:annotation>
          <xsd:documentation>Koeficient (pouze pro export).</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="payVAT" type="typ:boolean" minOccurs="0" default="false">
	  		<xsd:annotation>
	  			<xsd:documentation>Ceny jsou uvedeny: bez DPH, včetně DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	    <xsd:element name="rateVAT" type="typ:vatRateType" minOccurs="0" default="none">
	  		<xsd:annotation>
	  			<xsd:documentation>Sazba DPH.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>      
      <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>	  	
	  	<xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kč.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Cizí měna.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="typeServiceMOSS" type="typ:MOSStype" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Druh služby (OSS).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="note" type="typ:string90" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Poznámka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="code" type="typ:stockIdsType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Kód.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	  	<xsd:element name="guarantee" type="xsd:integer" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Délka záruky.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
	  	<xsd:element name="guaranteeType" type="typ:guaranteeTypeType" minOccurs="0">
	  		<xsd:annotation>
	  			<xsd:documentation>Typ záruky.</xsd:documentation>
	  		</xsd:annotation>
	  	</xsd:element>
		<xsd:element name="stockItem" type="typ:stockItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Údaje potřebné k nalezení skladové zásoby vložené do položky. Pokud zde tento element není, jedná se o textovou položku.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="linkToStock" type="typ:linkToStockType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Identifikátor zásoby u textových položek s vazbou na sklad. Pro import pouze pro textové položky s názvem položkové zásoby.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="accounting" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Předkontace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění DPH.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Členění KV DPH (pouze SK verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
    <xsd:element name="PDP" type="xsd:boolean" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Příznak Přenesení daňové povinnosti (pouze pro Vydané faktury, Vydané zálohové faktury a Ostatní pohledávky).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="CodePDP" type="typ:string8" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Kód zboží (pouze pro Vydané faktury, Vydané zálohové faktury a Ostatní pohledávky v SK verzi).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="recyclingContrib" type="typ:recyclingContribType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Recyklační příspěvek položky. Pokud při importu dokladu tento element není na položce uveden, bude na skladové položce dokladu nastaven dle skladové zásoby. U textové položky nebude nastaven.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
		<xsd:element name="centre" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Středisko.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="activity" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Činnost.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="contract" type="typ:refType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Zakázka.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="expirationDate" type="typ:dateOrNull" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Datum expirace.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<!-- příznak Intrastat -->
		<xsd:element name="intrastatItem" type="inv:intrastatItemType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Výkaz pro intrastat. U skladových položek nelze vložit ke složené zásobě a k zásobě typu komplet nebo souprava.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	    <xsd:element name="EETItem" type="typ:EETItemType" minOccurs="0">
	        <xsd:annotation>
	            <xsd:documentation>Typ položky EET (pouze CZ verze).</xsd:documentation>
	        </xsd:annotation>
	    </xsd:element>
	    <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Volitelný parametr.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:all>
</xsd:complexType>


  <!--Definice položky dokladu typu "Odpočet zálohy"-->
  <xsd:complexType name="invoiceAdvancePaymentItemType">
    <xsd:all>
      <xsd:element name="id" type="typ:idType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>ID položky dokladu (jen pro export).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extId" type="typ:string64" minOccurs="0"/>
      <xsd:element name="sourceDocument" type="typ:sourceDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Pokud není tato hodnota uvedena, nastaví se ruční odpočet zálohy.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>      
      <xsd:element name="quantity">
        <xsd:annotation>
          <xsd:documentation>Množství.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:float">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="payVAT" type="typ:boolean">
        <xsd:annotation>
          <xsd:documentation>Ceny jsou uvedeny: bez DPH, včetně DPH. Výchozí hodnota se týká pouze textové položky. Pro skladové položky bude brána výchozí hodnota dle nastavení v programu POHODA.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rateVAT" type="typ:vatRateType">
        <xsd:annotation>
          <xsd:documentation>Sazba DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="percentVAT" type="xsd:float" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Historická sazba v procentech. Povoluje se v Globálním nastavení.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="discountPercentage" type="typ:typePercentage" minOccurs="0" default="0">
        <xsd:annotation>
          <xsd:documentation>Sleva v procentech. Pokud není uvedena, bere se jako hodnota slevy z priceLevel dokumentu. Pokud není definován ani priceLevel bere se jako NULOVÁ.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="homeCurrency" type="typ:typeCurrencyHomeItem2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Kč.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="foreignCurrency" type="typ:typeCurrencyForeignItem2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Cizí měna.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="typeServiceMOSS" type="typ:MOSStype" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Druh služby (OSS).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="note" type="typ:string90" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Poznámka.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="symPar" type="typ:symVarType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Párový symbol. Používá se jen v účetnictví (dříve PU).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accounting" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Předkontace.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="classificationVAT" type="typ:classificationVATType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Členění DPH.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="classificationKVDPH" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Členění KV DPH (pouze SK verze).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="centre" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Středisko.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="activity" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Činnost.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="contract" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zakázka.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="voucherEET" type="typ:boolean" minOccurs="0" default="false">
        <xsd:annotation>          
		  <xsd:documentation>Poukaz EET (pouze CZ verze).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parameters" type="typ:parametersType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Volitelný parametr.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>

	<!-- údaje pro Intrastat -->
	<xsd:complexType name="intrastatType">
		<xsd:all>
			<xsd:element name="countryOfDestination" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Stát určení (pouze Vydané faktury).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="countryOfDispatch" type="typ:string2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Stát odeslání (pouze Přijaté faktury).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
			<xsd:element name="countryOfOrigin" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Stát původu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="region" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Region určení (pouze SK).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transaction" type="typ:string3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Typ transakce.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="specialTransaction" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Zvláštní pohyb.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="termsOfDelivery" type="typ:string3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Skupinové dodací podmínky.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modeOfTransport" type="typ:string1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Druh dopravy.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shippingCosts" type="typ:currencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Rozpočítat náklady na dopravu (dle částky).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="VATIdOfPartner" type="typ:dicType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>DIČ partnera pro CZ verzi. IČ DPH partnera pro SK verzi. Pouze Vydané faktury.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
		</xsd:all>
	</xsd:complexType>


	<!-- údaje pro Intrastat na položce -->
	<xsd:complexType name="intrastatItemType">
		<xsd:all>
			<xsd:element name="date" type="typ:dateOrNull" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Datum pro Intrastat.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="goodsCode" type="typ:string8" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Kód zboží.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="typ:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Popis zboží (pouze SK).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="countryOfDestination" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Stát určení (pouze Vydané faktury).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="countryOfDispatch" type="typ:string2" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Stát odeslání (pouze Přijaté faktury).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
			<xsd:element name="countryOfOrigin" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Stát původu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="region" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Region určení (pouze SK).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="invoicedAmount" type="typ:currencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fakturovaná hodnota.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transportExpenses" type="typ:currencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dopravné.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ownWeight" type="xsd:float" minOccurs="0" default="0">
				<xsd:annotation>
					<xsd:documentation>Vlastní hmotnost.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quantity" type="xsd:float" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Množství.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="addUnit" type="typ:string3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Doplňková měrná jednotka.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transaction" type="typ:string3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Typ transakce.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="termsOfDelivery" type="typ:string3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Dodací podmínky.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modeOfTransport" type="typ:string1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Druh dopravy.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="statisticalCode" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Statistický znak.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="specialTransaction" type="typ:string2" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Zvláštní pohyb.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="VATIdOfPartner" type="typ:dicType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>DIČ partnera pro CZ verzi. IČ DPH partnera pro SK verzi. Pouze Vydané faktury.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
		</xsd:all>
	</xsd:complexType>

  <!-- Údaje pro pozastávky k faktuře-->
  <xsd:complexType name="invoiceRetentionType">
    <xsd:all>
      <xsd:element name="date" type="xsd:date" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Datum pozastávky.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dateDue" type="xsd:date" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Datum splatnosti pozastávky.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="homeCurrency" type="typ:currencyType" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Výše pozastávky v domácí měně.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="liquidation" type="typ:liquidationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Informace o likvidaci pozastávky.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="text" type="typ:string64" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Text pozastávky.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accounting" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Předkontace pozastávky.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  
	<xsd:simpleType name="invoiceTypeType">
	<xsd:annotation>
		<xsd:documentation>Typ faktury.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="issuedInvoice">
			<xsd:annotation>
				<xsd:documentation>Faktura.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="issuedCreditNotice">
			<xsd:annotation>
				<xsd:documentation>Dobropis.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="issuedDebitNote">
			<xsd:annotation>
				<xsd:documentation>Vrubopis.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="issuedAdvanceInvoice">
			<xsd:annotation>
				<xsd:documentation>Zálohová faktura.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivable">
			<xsd:annotation>
				<xsd:documentation>Ostatní pohledávka.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="issuedProformaInvoice">
			<xsd:annotation>
				<xsd:documentation>Proforma faktura.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="penalty">
			<xsd:annotation>
				<xsd:documentation>Penále.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="issuedCorrectiveTax">
			<xsd:annotation>
				<xsd:documentation>Vydaný opravný daňový doklad (jen CZ verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedInvoice">
			<xsd:annotation>
				<xsd:documentation>Přijatá faktura.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedCreditNotice">
			<xsd:annotation>
				<xsd:documentation>Přijatý dobropis.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedDebitNote">
			<xsd:annotation>
				<xsd:documentation>Přijatý vrubopis.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedAdvanceInvoice">
			<xsd:annotation>
				<xsd:documentation>Přijatá zálohová faktura.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="commitment">
			<xsd:annotation>
				<xsd:documentation>Závazek.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="receivedProformaInvoice">
			<xsd:annotation>
				<xsd:documentation>Přijatá proforma faktura.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
 		<xsd:enumeration value="receivedCorrectiveTax">
			<xsd:annotation>
				<xsd:documentation>Přijatý opravný daňový doklad (jen CZ verze).</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="sphereTypeType">
	<xsd:annotation>
		<xsd:documentation>Typ ostatní pohledávky, závazku.</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="business">
			<xsd:annotation>
				<xsd:documentation>Obchodní.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="loan">
			<xsd:annotation>
				<xsd:documentation>Půjčka.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="specificRegulations">
			<xsd:annotation>
				<xsd:documentation>Zvl. předpis.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="other">
			<xsd:annotation>
				<xsd:documentation>Ostatní.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="cheques">
			<xsd:annotation>
				<xsd:documentation>Šeky.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="exchangeRateDifference">
			<xsd:annotation>
				<xsd:documentation>Kursové rozdíly.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="penalty">
			<xsd:annotation>
				<xsd:documentation>Penále.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="labourLaw">
			<xsd:annotation>
				<xsd:documentation>Pracovněprávní.</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<!-- RESPONSE -->

<xsd:element name="invoiceResponse" type="inv:invoiceResponseType">
	<xsd:annotation>
		<xsd:documentation>Odpověď na import faktury. Obsahuje podrobnosti zpracování, id a číslo vytvořeného dokladu.</xsd:documentation>
	</xsd:annotation>
</xsd:element>


<xsd:complexType name="invoiceResponseType">
	<xsd:complexContent>
		<xsd:extension  base="rdc:documentResponseType"/>
	</xsd:complexContent>
</xsd:complexType>

</xsd:schema>
