schemas/recyclingContrib.xsd

<?xml version="1.0" encoding="Windows-1250"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
		xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"
    xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
    xmlns:rec="http://www.stormware.cz/schema/version_2/recyclingContrib.xsd"
    xmlns="http://www.stormware.cz/schema/version_2/recyclingContrib.xsd"
    targetNamespace="http://www.stormware.cz/schema/version_2/recyclingContrib.xsd"
    elementFormDefault="qualified"
>
  <xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd"/>
	<xsd:import namespace="http://www.stormware.cz/schema/version_2/filter.xsd" schemaLocation="filter.xsd"/>
  <xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" schemaLocation="documentresponse.xsd"/>
  
  <!-- ************************************************************************** 
    Recyklační příspěvky 
    ************************************************************************** -->
  
  <xsd:element name="recyclingContrib" type="rec:recyclingContribType"/>
  
  <xsd:complexType name="recyclingContribType">
    <xsd:sequence>
			<xsd:element name="actionType" type="recyclingContribTypeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Typ práce se záznamem. Výchozí hodnota je přidání nového záznamu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
      <xsd:element name="recyclingContribHeader" type="rec:recyclingContribHeaderType" minOccurs="0"/>      
    </xsd:sequence>
    <xsd:attribute name="version" type="rec:recVersionType" use="required"/>
  </xsd:complexType>
  
  <xsd:simpleType name="recVersionType">
    <xsd:annotation>
      <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="2.0"/>      
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:complexType name="recyclingContribHeaderType">
    <xsd:all>
      <xsd:element name="id" type="typ:idType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>ID záznamu (pouze pro export).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="code" type="typ:string10" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Zkratka recyklačního příspěvku.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="typ:string32" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Název recyklačního příspěvku.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="text" type="typ:string64" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Text recyklačního příspěvku, který se bude tisknout na daňových dokladech.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>      
      <xsd:element name="amount" type="typ:currencyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Částka recyklačního příspěvku.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unit" type="typ:unitType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>M. j. recyklačního příspěvku.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="note" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Poznámka.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>


	<xsd:complexType name="recyclingContribTypeType">
		<xsd:choice>
			<xsd:element name="add" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Vložení nového záznamu. Výchozí hodnota.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="update" type="ftr:requestRecyclingContribType">
				<xsd:annotation>
					<xsd:documentation>Aktualizace záznamu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="delete" type="ftr:requestRecyclingContribType">
				<xsd:annotation>
					<xsd:documentation>Odstranění záznamu.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>

	<!-- RESPONSE -->
	<xsd:element name="recyclingContribResponse" type="recyclingContribResponseType">
		<xsd:annotation>
			<xsd:documentation>Odpověď na import agendy Recyklační poplatky. Obsahuje podrobnosti zpracování.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="recyclingContribResponseType">
		<xsd:complexContent>
			<xsd:extension  base="rdc:documentResponseType"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
